ul {
  list-style: none;
  font-size: x-large;
}


header {
  grid-area: nav-bar;
  background-color: #F5EDED;
  padding-right: 40px;
  margin: 10px;

}

header a {
  color: #000000;
}

main {
  grid-area: main-content;
  background-color: #3E3636;
  color: #F5EDED;
}

footer {
  grid-area: the-footer;
  padding: 10px;
  margin: 1px;
  background-color: #F5EDED;
  color: #000000;
  font-family: Consolas;
  font-weight: bold;
  margin-bottom: 10px;
}

h1 {
  padding: 10px;
  margin: 1px;
  background-color: #000000;
  color: #F5EDED;
  font-family: Consolas;
  margin-top: 7px;
}

body {

  background-color: #3E3636;
  color: #F5EDED;
}

a {
  color: #000000;
  font-weight: bold;
}

a:hover {
  color: #3E3636;
}

article {
  border: 2px solid #000000;
  color: #000000;
  padding: 10px;
  background-color: #F5EDED;
}

.webpage-format {
  display: grid;
  grid-template-areas:
    "nav-bar main-content main-content"
    "nav-bar main-content main-content"
    "nav-bar the-footer the-footer"
}