h1 {
    font-family: impact;
    font-size: 80px;
}

body {
    margin: 0;
    font-family: sans-serif;
}

header {
    background: #000;
    color: #ffffff;
    padding: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav {
    float: left;
    /* Move the navbar to the left */
    width: 200px;
    /* Set the width of the navbar */
    height: 600px;
    background-color: #ddd;
    padding: 20px;
    font-size: 20px;
    font-size: xx-large;
    font-family: impact;
    background-color: #000;
}

nav ul {
    list-style: none;
    /* Remove default bullet points */
    margin: 0;
    padding: 0;
}

nav li {
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    color: #d9ff00;
}

main {
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #ddd;
    font-family: impact;
}