* {
    background-color: black;
    color: azure;
}

header {
    border: 2px solid white;
    padding: 20px;
    text-align: center;
    font-family: impact;
    font-size: 20px;
    /* Could replace this font with an actual logo */
}

.categories {
    margin-top: 5px;
    border: 2px solid white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-family: impact;
}

.box {
    width: 250px;
    height: 200px;
    border: 5px solid white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Put customer logo inside here */
}