body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EEEEEE;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.logo-left,
.logo-right {
    width: 10%;
    height: auto;
}

.logo3 {
    width: 50%;
    height: auto;
    margin-left: 250px;
}

.hero {
    background-color: #89898a;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero section {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

.hero a {
    font-weight: bold;
}


.features {
    background-color: #373A40;
    color: #EEEEEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    text-align: center;
}

.lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    gap: 20px;
}

.list1,
.list2 {
    border: 2px solid #EEEEEE;
    box-shadow: 10px 5px 5px black;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
}


.testimonials {
    background-color: #EEEEEE;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
}

.testimonials p {
    font-style: italic;
}

.testimonials figcaption {
    font-weight: bold;
}

footer {
    background-color: #DC5F00;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer img {
    width: 60%;
    height: auto;
    margin: 0 10px;
}

@media (min-width: 600px) {
    .hero {
        flex-direction: row;
        /* Row on larger screens */
        text-align: left;
    }

    .lists {
        flex-direction: row;
        /* Row on larger screens */
        justify-content: space-around;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }
}