header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EEEEEE;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.logo-left,
.logo-right {
    width: 10%;
    height: auto;
}

.logo3 {
    width: 60%;
    height: auto;
}

.hero {
    background-color: #89898a;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero section {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.hero a {
    font-weight: bold;
}


.features {
    background-color: #373A40;
    color: #EEEEEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
}

.lists {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    gap: 20px;
}

.list1 {
    border: 2px solid #EEEEEE;
    box-shadow: 10px 5px 5px black;
    width: 600px;
    height: 300px;
    padding: 30px;
    padding-right: 30px;
    margin: 10px;
}

.list2 {
    border: 2px solid #EEEEEE;
    box-shadow: 10px 5px 5px black;
    width: 600px;
    height: 300px;
    padding: 30px;
    padding-right: 30px;
    margin: 10px;
}

.testimonials {
    background-color: #EEEEEE;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
}

.testimonials p {
    font-style: italic;
}

.testimonials figcaption {
    font-weight: bold;
}

footer {
    background-color: #DC5F00;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer img {
    width: 60%;
    height: auto;
}