header {
    background-color: #fff;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    border: 1px solid black;
}

h1 {
    text-align: center;
}

h2 {
    background-color: #EEF7FF;
    padding: 10px;
    margin: 0;
}

main {
    background-color: #CDE8E5;
    padding: 10px;
}

footer {
    background-color: #4D869C;
    padding: 10px;
}